[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/syna"]
	path = themes/syna
	url = https://github.com/okkur/syna.git
[submodule "themes/meghna-hugo"]
	path = themes/meghna-hugo
	url = https://github.com/themefisher/meghna-hugo.git
